@model ExcelUploader.Models.ViewModels.HomeViewModel
@using System.Data    
@{
    ViewBag.Title = "Home Page";
    string UpdateUrl = Url.Action("Update", "Home");

    string color = (Model.FileValidation.hasError) ? "red" : "green";
    string message = Model.FileValidation.Message;
    string filename = "";
    var uploadedFile = Session["PostedFile"];
    string submitBtnClass = "btn btn-primary";
    if (Model.FileValidation.FileExists)
    {
        color = "orange";
        filename = Session["FileName"].ToString();
    }
}
<script>
    $(document).ready(function () {
        var fileInput = document.getElementById("fileInput");
        var submitBtn = document.getElementById("submit");
        var msgSpan = document.getElementById("message");
        var viewLink = document.getElementById("viewLink");
        var updateBtn = document.getElementById("updateBtn");
        
        
    });
</script>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Select File:</span>
    <input type="file" name="postedFile" class="form-control" id="fileInput" />
   
        <span style="color:@color" id="message"> @message</span>
    
    <hr />
    <input type="submit" id="submit" value="Upload File" class="@submitBtnClass" />
}

    <div style="text-align:center">
        @if (Model.FileData != null)
        {
            <h4 style="color:deepskyblue">@Model.FileName</h4>
            <hr />
            <table class="table table-responsive  table-striped table-hover">
                <thead >
                    <tr >
                        @foreach (DataColumn column in Model.FileData.Columns)
                        {
                            <th style="text-align:center">
                                @column.ColumnName
                            </th>
                        }

                    </tr>

                        @for (int i = 0; i < Model.FileData.Rows.Count; i++)
                        {
                            <tr>
                                @for (int j = 0; j < Model.FileData.Columns.Count; j++)
                                {
                                    <td>@Model.FileData.Rows[i][j].ToString()</td>
                                }
                            </tr>
                        }
                </thead>
            </table>
        }

    </div>