@model ExcelUploader.Models.ViewModels.HomeViewModel
@using System.Data
@{
    ViewBag.Title = "Home Page";
    string UpdateUrl = Url.Action("Update", "Home");

    string color = (Model.FileValidation.hasError) ? "red" : "green";
    string message = Model.FileValidation.Message;
    string submitBtnClass = "btn btn-primary";
    if (Model.FileValidation.FileExists)
    {
        color = "orange";
    }
}

<div id="mainDiv">
    <div id="centerDiv">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div style="margin-top:50px">

                <span class="pull-left" style="margin-top:8px"><strong>Select File : </strong></span>
                <input type="file" name="postedFile" class="form-control" id="fileInput" />

                <span style="color:@color" id="message"> @message</span>

                <hr />
                <input type="submit" id="submit" value="Upload File" class="@submitBtnClass" />

            </div>
        }

    </div>
</div>
<div style="text-align:center">
    @if (Model.FileData != null)
    {
        <h3 style="color:green">@Model.FileName</h3>
        <hr />
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    @foreach (DataColumn column in Model.FileData.Columns)
                    {
                        <th style="text-align:center">
                            @column.ColumnName
                        </th>
                    }

                </tr>

                @for (int i = 0; i < Model.FileData.Rows.Count; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.FileData.Columns.Count; j++)
                        {
                            <td>@Model.FileData.Rows[i][j].ToString()</td>
                        }
                    </tr>
                }
            </thead>
        </table>
    }

</div>
